:root {
	--font-size-primary: 0.906rem; /* 14.5px */
	--font-size-secondary: 0.688rem; /* 11px */

	--foreground: rgba(0, 0, 0, 0.75);

	--border-color: rgba(0, 0, 0, 0.55);
	--border-shorthand: 0.063rem solid var(--border-color);

	/* Button */
	--button-hover-foreground: rgba(255, 255, 255, 0.9);
	--button-hover-backround: rgba(0, 0, 0, 0.78);
	--font-size-button: 0.769rem; /* 12.3px */

	--seven: 0.438rem; /* 7px */
	--twelve: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--foreground);
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 91vh;
	margin-top: 4.5vh;
	margin-bottom: 4.5vh;
	padding: var(--twelve);
	font-size: var(--font-size-primary);
	text-align: center;
}

main {
	width: 100%;
	max-width: 23.75rem;
}

#to-do-list {
	width: 100%;
}

/* Header / Top Part */

.__header {
	border: var(--border-shorthand);
	border-bottom: 0;
	padding: var(--seven) var(--twelve);

	position: relative;
}

._filter-icon {
	display: flex;
	align-items: center;

	position: absolute;
	top: var(--seven);
	bottom: var(--seven);
	left: var(--twelve);

}

._filter-icon img {
	height: auto;
	width: 1.313rem;
	padding: 0.188rem;
	opacity: 0.8;
	cursor: pointer;
}

._filter-options {
	display: none;
	cursor: default;

	position: absolute;
	top: -1.125rem;
	left: 0;
}

._filter-options > span {
	font-size: var(--font-size-secondary);
	opacity: 0.6;
	cursor: pointer;
}

[data-filter-opened="true"] > img {
	opacity: 0.8 !important;
}

[data-selected="true"] {
	opacity: 1 !important;
	text-decoration: underline;
}

/* To-Do Item / Middle Part */

.__list-items {
	border: var(--border-shorthand);
	height: 50vh;
	min-height: 12.5rem;
	max-height: 21.875rem;
	overflow-y: scroll;
}

.__list-items ._item {
	display: flex;
	align-items: center;
	border-bottom: var(--border-shorthand);
	padding: var(--seven) var(--twelve);
	text-align: left;
	word-break: break-all;

	position: relative;
}

.activities_ {
	width: 100%;
	padding-right: var(--seven);
}

.activities_ input {
	border: none;
	border-left: var(--border-shorthand);
	width: 100%;
	padding: 0 var(--seven);
	font-size: var(--font-size-button);
}

.activities_ input:focus {
	outline: none;
}

.tools_ {
	display: flex;
}

.edit__,
.status__,
.remove__ {
	height: auto;
	width: 1.313rem;
	padding: 0.188rem;
	opacity: 0.8;
	cursor: pointer;
}

/* Input / Bottom Part */

._add-input {
	border: var(--border-shorthand);
	border-top: none;
	border-bottom: none;
	width: 100%;
	padding: var(--seven) var(--twelve);
	font-size: var(--font-size-button);
	font-style: italic;
}

._add-input:focus {
	outline: none;
}

._add-button {
	background: none;
	border: var(--border-shorthand);
	width: 100%;
	padding: var(--seven) var(--twelve);
	font-size: var(--font-size-button);
	cursor: pointer;
}

/* Notice / Link */

#notice {
	margin-top: 0.656rem;
	padding: 0 var(--seven);
	font-size: var(--font-size-secondary);
	line-height: 1.1;
	word-wrap: break-word;
}

/* Extra */

[data-completed="true"] {
	text-decoration: line-through;
	opacity: 0.8;
}

._empty {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


/* Media Query */

@media (hover: hover) {
	._filter-icon img,
	.edit__,
	.status__,
	.remove__ {
		opacity: 0.6;
	}

	._filter-icon img:hover,
	.edit__:hover,
	.status__:hover,
	.remove__:hover {
		opacity: 0.8;
	}

	._filter-options span:hover {
		opacity: 1;
	}

	._add-button:hover {
		color: var(--button-hover-foreground);
		background: var(--button-hover-backround);
	}
}

/* Font Size */
@media (max-width: 30rem) { /* 480px */
	html {
		font-size: calc(1rem - 10%);
	}

	._filter-options {
		top: -1.156rem;
	}
}
/* -------- */